/* alternative:
--main-bg-color: #212121
--lighter-grey: #777777
--light-grey: #3d3d3d
--text-color: #eeeeee;
--green: #23ea55
--

*/

:root {
    --main-bg-color: #352a55;
    --turquoise: #25fedf;
    --yellow: #fed480;
    --pink: #e8006d;   
}
@font-face {
    font-family: 'PressStart2P-Regular';
    src: url('../font/PressStart2P-Regular.ttf');
}
body {
    background: var(--main-bg-color);
}
.main-h1 {
    color: var(--turquoise);
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    margin:20px 0; /*set  to 20 */
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    width: 100%;
}
/* .intro-screen {
    border: 2px solid var(--turquoise);
    background: var(--main-bg-color);
    color: var(--turquoise);
    font-family: 'Press Start 2P', cursive;
    height: 500px;
    position: absolute;
    opacity: 1;
    text-align: center;
    width: 500px;
    z-index: 2;
}
.intro-screen h2 {
    font-size: 22px;
}
.intro-screen p {
    font-size: 16px;
}
.btn {
    animation: rotateBtn 4s infinite;
    border: 2px solid var(--turquoise);
    border-radius: 20px;
    background: var(--main-bg-color);
    color: var(--turquoise);
    cursor: pointer;
    margin: 220px 40px;
    padding: 10px 20px;
    transition: .5s all ease-in-out;
}
.btn:hover {
    background: var(--turquoise);
    color: var(--main-bg-color); 
} */
canvas {
    /* animation: pulse 4s infinite; */
    border: 2px solid var(--turquoise);
    box-shadow: 0px 0px 120px -20px rgba(37,254,221,0.75);
    z-index: 1;
}
.highscore {
    display: none;
    background: var(--main-bg-color);
    box-shadow: 0px 0px 100px -20px rgba(37,254,221,0.75);
    color: var(--turquoise);
    font-family: 'Press Start 2P', cursive;
    height: 500px;
    margin-left: 50px;
    width: 500px;
}
.highscore ul {
    list-style: none;
}
.highscore h2 {
    text-align: center;
}
@keyframes rotateBtn {
    0% {transform: rotate(0deg);}
    20% {transform: rotate(10deg);}
    40% {transform: rotate(0deg);}
    60% {transform: rotate(0deg);}
    80% {transform: rotate(-10deg);}
    100% {transform: rotate(0deg);}
}
@keyframes blink {
    0% {border-color: var(--turquoise);}
    50% {border-color: var(--pink);}
    100% {border-color: var(--turquoise);}
}
@keyframes pulse {
    0% {box-shadow: 0px 0px 100px -20px rgba(37,254,221,0.75);}
    50% {box-shadow: 0px 0px 100px -20px rgba(37,254,221,0.1);}
    100% {box-shadow: 0px 0px 100px -20px rgba(37,254,221,0.95);}
}
/* .container, .container::before, .container::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
.container {
    width: 500px;
    height: 500px;
    margin: 80px auto;
    color: #69ca62;
    box-shadow: inset 0 0 0 1px rgba(105, 202, 98, 0.5);
  }
@keyframes boxAnimation {
    0%,
    100% {
      clip: rect(0px, 550px, 5px, 0px);
    }
    25% {
      clip: rect(0px, 5px, 550px, 0px);
    }
    50% {
      clip: rect(545px, 550px, 550px, 0px);
    }
    75% {
      clip: rect(0px, 550px, 550px, 545px);
    }
  }
.container::before, .container::after {
    content: "";
    z-index: -1;
    margin: -5%;
    box-shadow: inset 0 0 0 2px;
    animation: boxAnimation 8s linear infinite;
  }
.container::before {
    animation-delay: -4s;
  } */